<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/add-category">Add category</a></li>
        <li><a href="/contacts">Home</a></li>
    </ul>
</nav>