<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
    <% include('./partials/nav.ejs'); %>
    <h1>Category</h1>
    <h5><%= category[0].nume %></h5>
</body>
</html>